# Pandas Part 2

Import Pandas

In [1]:
import pandas as pd

Creating an empty Dataframe

In [2]:
emt_df = pd.DataFrame()
print(emt_df)

Empty DataFrame
Columns: []
Index: []

Creating a Dataframe from a list

In [3]:
l1 = ['a','b','c']
df1 = pd.DataFrame(l1)
print(df1)

   0
0  a
1  b
2  c

Getting the same output in other way

In [4]:
df1

   0
0  a
1  b
2  c

Creating Dataframes from the List of List

In [5]:
ls_of_ls = [[1,2,3],[4,5,6,],[7,8,9]]
df2 = pd.DataFrame(ls_of_ls)
print(df2)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

Creating a Dataframe from a Dictationary

In [6]:
dict1 = {'ID':[1,2,3,4,5,6,7]}
print(dict1)

{'ID': [1, 2, 3, 4, 5, 6, 7]}

In [7]:
dict_df = pd.DataFrame(dict1)
print(dict_df)

   ID
0   1
1   2
2   3
3   4
4   5
5   6
6   7

In [8]:
dict_df2 = {'ID':[1,2,3,4], 'SN':['Jay','Vijay','Ajay','Surjay']}
dict_df2 = pd.DataFrame(dict_df2)
print(dict_df2)

   ID      SN
0   1     Jay
1   2   Vijay
2   3    Ajay
3   4  Surjay

Creating a Dataframe from the list of Dictationaries

In [9]:
ls_dict = [{'a':1,'b':2},{'a':3,'b':4}]
df_dl = pd.DataFrame(ls_dict)
df_dl

   a  b
0  1  2
1  3  4

In case of uneven dictationaries the missing data error is handled using NaN.

In [10]:
ls_dict = [{'a':1,'b':2},{'a':3,'b':4,'c':5}]
df_dl = pd.DataFrame(ls_dict)
df_dl

   a  b    c
0  1  2  NaN
1  3  4  5.0

Creating Dataframe from Dictationary of Series

In [11]:
dict_sr = {'Id': pd.Series([1,2,3]), 'sn':pd.Series([111,222,333])}
df6 = pd.DataFrame(dict_sr)
df6

   Id   sn
0   1  111
1   2  222
2   3  333