# Pandas

Importing Pandas

In [1]:
import pandas as pd

Checking Pandas Version

In [2]:
pd.__version__

'1.4.3'

In [3]:
list_s = [1,2,-3,6.2,"Data Values"]
print(list_s)

[1, 2, -3, 6.2, 'Data Values']

Creating a Series using the above List

In [4]:
series1 = pd.Series(list_s)
print(series1)

0              1
1              2
2             -3
3            6.2
4    Data Values
dtype: object

In [5]:
series2 = pd.Series([1,2,3,4])
print(series2)

0    1
1    2
2    3
3    4
dtype: int64

Creating an Empty Series using empty List

In [6]:
empty_s = pd.Series([])
print(empty_s)

Series([], dtype: float64)

C:\Users\asus\AppData\Local\Temp\ipykernel_11312\3878301290.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_s = pd.Series([])

Defining index in Series

In [7]:
series3 = pd.Series([1,2,3,4], index = ['a','b','c','d'])
print(series3)

a    1
b    2
c    3
d    4
dtype: int64

Changing the type in the Series

In [8]:
series3 = pd.Series([1,2,3,4], index = ['a','b','c','d'],dtype=float)
print(series3)

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

Naming the Series

In [9]:
series3 = pd.Series([1,2,3,4], index = ['a','b','c','d'],dtype=float, name='Data Values')
print(series3)

a    1.0
b    2.0
c    3.0
d    4.0
Name: Data Values, dtype: float64

## Creating the Scalar Series
- a single number Series

In [10]:
scaler_s = pd.Series(0.5)
print(scaler_s)

0    0.5
dtype: float64

In [11]:
scaler_s = pd.Series(0.5, index= [1,2,3])
print(scaler_s)

1    0.5
2    0.5
3    0.5
dtype: float64

Creating a Series using a dictionary

In [12]:
dict_s = pd.Series({'a':1,'b':2})
print(dict_s)

a    1
b    2
dtype: int64

In [13]:
s4 = pd.Series([1,2,3,4,5])
print(s4)

0    1
1    2
2    3
3    4
4    5
dtype: int64

Calling the value in the series using index

In [14]:
s4[1]

2

Slice Operation: Calling the values in range of index

In [16]:
s4[0:3]

0    1
1    2
2    3
dtype: int64

Getting the max value

In [17]:
max(s4)

5

Getting the min value

In [18]:
min(s4)

1

Find the values greater than

In [19]:
s4[s4 > 3]

3    4
4    5
dtype: int64

In [20]:
s4

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [21]:
s5 = pd.Series([1,2,3,4,5])
print(s5)

0    1
1    2
2    3
3    4
4    5
dtype: int64

Adding 2 Series

In [22]:
s4 + s5

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [23]:
s6 =pd.Series([1,2,3])
print(s6)

0    1
1    2
2    3
dtype: int64

Adding 2 uneven series

In [24]:
s5 + s6

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64